{% extends '/views/base.html' %}

{% block main %}

<div class="mdl-typography--display-1-color-contrast mdl-typography--text-center">
  <h1>
    Header image holder
  </h1>
</div>

<div class="location mdl-grid">
  {% set location = doc.location %}
  <div class="mdl-cell mdl-cell--6-col">
    <h2>
      {{location.header}}
    </h2>
    <p>
      {{location.text}}
    </p>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    Iframe with embedded Google Map goes here.
  </div>
</div>

<div class="travel mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  {% set travel = doc.travel %}
  <div class="mdl-tabs__tab-bar">
    <a href="#drive-panel" class="mdl-tabs__tab is-active">
      {{travel.drive.header}}
    </a>
    <a href="#fly-panel" class="mdl-tabs__tab">
      {{travel.fly.header}}
    </a>
    <a href="#stay-panel" class="mdl-tabs__tab">
      {{travel.stay.header}}
    </a>
  </div>

  <div class="mdl-tabs__panel is-active" id="drive-panel">
    <p>
      {{travel.drive.text}}
    </p>
  </div>
  <div class="mdl-tabs__panel" id="fly-panel">
    <p>
      {{travel.fly.text}}
    </p>
  </div>
  <div class="mdl-tabs__panel" id="stay-panel">
    <p>
      {{travel.stay.text}}
    </p>
  </div>
</div>

<div class="registry mdl-grid">
  {% set registry = doc.registry %}
  <div class="mdl-cell mdl-cell--12-col">
    <h2>
      {{registry.header}}
    </h2>
    <p>
      {{registry.text}}
    </p>
  </div>
</div>

{% endblock %}
