{% extends '/views/base.html' %}

{% block main %}

<div class="intro mdl-typography--text-center">
  {% set intro = doc.intro %}
  <h1>
    {{intro.header}}
  </h1>
  <p>
    {{intro.text}}
  </p>
</div>
  
<div class="about mdl-grid">
  {% set about = doc.about %}
  <div class="left mdl-cell mdl-cell--6-col">
    <h1>
      {{about.left.header}}
    </h1>
    <p>
      {{about.left.text}}
    </p>
  </div>
  <div class="right mdl-cell mdl-cell--6-col">
    <h1>
      {{about.right.header}}
    </h1>
    <p>
      {{about.right.text}}
    </p>
  </div>
</div>
{% endblock %}
